@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;900&family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-family: "Noto Sans KR", sans-serif;
}

@layer utilities {
    .react-datepicker__close-icon::after {
      background-color: #D1D5DB !important;
      padding: 1px !important;
    }
  }